<div class="mx-auto max-w-full px-24 py-12" data-controller="board">
  <div class="mx-auto max-w-full">
    <h1>Show from boards controller</h1>
    <div id="board" style="overflow-x: scroll;"></div>
  </div>
</div>
