<div class="mx-auto max-w-full px-24 py-12">
  <div
    data-controller="board"
    class="mx-auto max-w-full"
    data-api-url="<%= api_board_lists_path(@board) %>"
    data-board-lists-url="<%= board_lists_path(@board) %>"
    id="board"
    style="overflow-x: scroll"
    >
  </div>
</div>
